<a href="https://colab.research.google.com/github/tleitch/Machine-Learning-for-Algorithmic-Trading-Second-Edition/blob/master/02_market_and_fundamental_data/03_data_providers/02_yfinance_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
!pip install yfinance
import pandas as pd
import yfinance as yf

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 8.0MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=f8edc87eacecef4980a43abd9b192ef41a82c2f0cea1083dba1466b0c9dbcf7e
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

## How to work with a Ticker object

In [4]:
symbol = 'FB'
ticker = yf.Ticker(symbol)

### Show ticker info

In [5]:
pd.Series(ticker.info).head(20)

zip                                                                        94025
sector                                                    Communication Services
fullTimeEmployees                                                          60654
longBusinessSummary            Facebook, Inc. develops products that enable p...
city                                                                  Menlo Park
phone                                                               650-543-4800
state                                                                         CA
country                                                            United States
companyOfficers                                                               []
website                                                   http://investor.fb.com
maxAge                                                                         1
address1                                                        1601 Willow Road
industry                                          Internet Content & Information
previousClose                                                             332.75
regularMarketOpen                                                            331
twoHundredDayAverage                                                     283.994
trailingAnnualDividendYield                                                 None
payoutRatio                                                                    0
volume24Hr                                                                  None
regularMarketDayHigh                                                     332.868
dtype: object

### Get market data

In [7]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1949 entries, 2021-05-24 09:30:00-04:00 to 2021-05-28 15:59:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1949 non-null   float64
 1   High          1949 non-null   float64
 2   Low           1949 non-null   float64
 3   Close         1949 non-null   float64
 4   Volume        1949 non-null   int64
 5   Dividends     1949 non-null   int64
 6   Stock Splits  1949 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 121.8 KB

### View company actions

In [8]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [9]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [10]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

### Annual and Quarterly Financial Statement Summary

In [11]:
ticker.financials

                                        2020-12-31  ...  2017-12-31
Research Development                    1.8447e+10  ...   7.754e+09
Effect Of Accounting Charges                  None  ...        None
Income Before Tax                        3.318e+10  ...  2.0594e+10
Minority Interest                             None  ...        None
Net Income                              2.9146e+10  ...  1.5934e+10
Selling General Administrative          1.8155e+10  ...   7.242e+09
Gross Profit                            6.9273e+10  ...  3.5199e+10
Ebit                                    3.2671e+10  ...  2.0203e+10
Operating Income                        3.2671e+10  ...  2.0203e+10
Other Operating Expenses                      None  ...        None
Interest Expense                               NaN  ...      -6e+06
Extraordinary Items                           None  ...        None
Non Recurring                                 None  ...        None
Other Items                                   None  ...        None
Income Tax Expense                       4.034e+09  ...    4.66e+09
Total Revenue                           8.5965e+10  ...  4.0653e+10
Total Operating Expenses                5.3294e+10  ...   2.045e+10
Cost Of Revenue                         1.6692e+10  ...   5.454e+09
Total Other Income Expense Net            5.09e+08  ...    3.91e+08
Discontinued Operations                       None  ...        None
Net Income From Continuing Ops          2.9146e+10  ...  1.5934e+10
Net Income Applicable To Common Shares  2.9146e+10  ...   1.592e+10

[22 rows x 4 columns]

In [12]:
ticker.quarterly_financials

                                        2021-03-31  ...  2020-06-30
Research Development                     5.197e+09  ...   4.462e+09
Effect Of Accounting Charges                  None  ...        None
Income Before Tax                       1.1503e+10  ...   6.131e+09
Minority Interest                             None  ...        None
Net Income                               9.497e+09  ...   5.178e+09
Selling General Administrative           4.465e+09  ...   4.433e+09
Gross Profit                             2.104e+10  ...  1.4858e+10
Ebit                                    1.1378e+10  ...   5.963e+09
Operating Income                        1.1378e+10  ...   5.963e+09
Other Operating Expenses                      None  ...        None
Interest Expense                              None  ...        None
Extraordinary Items                           None  ...        None
Non Recurring                                 None  ...        None
Other Items                                   None  ...        None
Income Tax Expense                       2.006e+09  ...    9.53e+08
Total Revenue                           2.6171e+10  ...  1.8687e+10
Total Operating Expenses                1.4793e+10  ...  1.2724e+10
Cost Of Revenue                          5.131e+09  ...   3.829e+09
Total Other Income Expense Net            1.25e+08  ...    1.68e+08
Discontinued Operations                       None  ...        None
Net Income From Continuing Ops           9.497e+09  ...   5.178e+09
Net Income Applicable To Common Shares   9.497e+09  ...   5.178e+09

[22 rows x 4 columns]

### Annual and Quarterly Balance Sheet

In [13]:
ticker.balance_sheet

                             2020-12-31  ...    2017-12-31
Intangible Assets          6.230000e+08  ...  1.884000e+09
Capital Surplus            5.001800e+10  ...  4.058400e+10
Total Liab                 3.102600e+10  ...  1.017700e+10
Total Stockholder Equity   1.282900e+11  ...  7.434700e+10
Other Current Liab         9.964000e+09  ...  2.590000e+09
Total Assets               1.593160e+11  ...  8.452400e+10
Other Current Assets       2.410000e+08  ...  1.800000e+07
Retained Earnings          7.734500e+10  ...  3.399000e+10
Other Liab                 5.945000e+09  ...  6.417000e+09
Good Will                  1.905000e+10  ...  1.822100e+10
Treasury Stock             9.270000e+08  ... -2.270000e+08
Other Assets               2.758000e+09  ...  2.135000e+09
Cash                       1.757600e+10  ...  8.079000e+09
Total Current Liabilities  1.498100e+10  ...  3.760000e+09
Other Stockholder Equity   9.270000e+08  ... -2.270000e+08
Property Plant Equipment   5.498100e+10  ...  1.372100e+10
Total Current Assets       7.567000e+10  ...  4.856300e+10
Long Term Investments      6.234000e+09  ...           NaN
Net Tangible Assets        1.086170e+11  ...  5.424200e+10
Short Term Investments     4.437800e+10  ...  3.363200e+10
Net Receivables            1.133500e+10  ...  5.832000e+09
Accounts Payable           1.331000e+09  ...  3.800000e+08
Common Stock                        NaN  ...           NaN

[23 rows x 4 columns]

In [14]:
ticker.quarterly_balance_sheet

                             2021-03-31  ...    2020-06-30
Intangible Assets          5.050000e+08  ...  8.590000e+08
Capital Surplus            5.116000e+10  ...  4.780500e+10
Total Liab                 2.986600e+10  ...  2.924400e+10
Total Stockholder Equity   1.336570e+11  ...  1.104470e+11
Other Current Liab         1.388000e+09  ...  9.930000e+08
Total Assets               1.635230e+11  ...  1.396910e+11
Other Current Assets       2.570000e+08  ...  3.080000e+08
Retained Earnings          8.234300e+10  ...  6.278400e+10
Other Liab                 6.101000e+09  ...  7.879000e+09
Good Will                  1.905600e+10  ...  1.902900e+10
Treasury Stock             1.540000e+08  ... -1.420000e+08
Other Assets               2.376000e+09  ...  3.238000e+09
Cash                       1.951300e+10  ...  2.104500e+10
Total Current Liabilities  1.271700e+10  ...  1.130800e+10
Other Stockholder Equity   1.540000e+08  ... -1.420000e+08
Property Plant Equipment   5.792200e+10  ...  4.843500e+10
Total Current Assets       7.732200e+10  ...  6.813000e+10
Long Term Investments      6.342000e+09  ...           NaN
Net Tangible Assets        1.140960e+11  ...  9.055900e+10
Short Term Investments     4.470600e+10  ...  3.719500e+10
Net Receivables            1.027600e+10  ...  7.483000e+09
Accounts Payable           8.780000e+08  ...  9.200000e+08

[22 rows x 4 columns]

### Annual and Quarterly Cashflow Statement

In [15]:
ticker.cashflow

                                             2020-12-31  ...    2017-12-31
Investments                               -1.452000e+10  ... -1.325000e+10
Change To Liabilities                      9.100000e+07  ...  4.700000e+07
Total Cashflows From Investing Activities -3.005900e+10  ... -2.011800e+10
Net Borrowings                            -5.800000e+08  ...  5.000000e+08
Total Cash From Financing Activities      -1.029200e+10  ... -5.235000e+09
Change To Operating Activities            -1.302000e+09  ...  3.449000e+09
Net Income                                 2.914600e+10  ...  1.593400e+10
Change In Cash                            -1.325000e+09  ... -9.050000e+08
Repurchase Of Stock                       -9.836000e+09  ... -5.222000e+09
Effect Of Exchange Rate                    2.790000e+08  ...  2.320000e+08
Total Cash From Operating Activities       3.874700e+10  ...  2.421600e+10
Depreciation                               6.862000e+09  ...  3.025000e+09
Other Cashflows From Investing Activities -3.600000e+07  ... -1.300000e+07
Change To Account Receivables             -1.512000e+09  ... -1.609000e+09
Other Cashflows From Financing Activities  1.240000e+08  ... -1.300000e+07
Change To Netincome                        5.462000e+09  ...  3.370000e+09
Capital Expenditures                      -1.511500e+10  ... -6.733000e+09

[17 rows x 4 columns]

In [16]:
ticker.quarterly_cashflow

                                             2021-03-31  ...    2020-06-30
Investments                               -6.000000e+08  ... -3.380000e+08
Change To Liabilities                     -2.440000e+08  ... -4.100000e+07
Total Cashflows From Investing Activities -4.874000e+09  ... -4.178000e+09
Net Borrowings                            -2.010000e+08  ... -4.600000e+07
Total Cash From Financing Activities      -5.185000e+09  ... -2.152000e+09
Change To Operating Activities            -2.014000e+09  ... -4.794000e+09
Net Income                                 9.497000e+09  ...  5.178000e+09
Change In Cash                             1.937000e+09  ... -2.358000e+09
Repurchase Of Stock                       -5.016000e+09  ... -2.122000e+09
Effect Of Exchange Rate                   -2.460000e+08  ...  9.500000e+07
Total Cash From Operating Activities       1.224200e+10  ...  3.877000e+09
Depreciation                               1.972000e+09  ...  1.704000e+09
Other Cashflows From Investing Activities -2.000000e+06  ... -2.460000e+08
Change To Account Receivables              8.490000e+08  ... -1.220000e+08
Other Cashflows From Financing Activities  3.200000e+07  ...  1.600000e+07
Change To Netincome                        2.182000e+09  ...  1.951000e+09
Capital Expenditures                      -4.272000e+09  ... -3.255000e+09

[17 rows x 4 columns]

In [17]:
ticker.earnings

          Revenue     Earnings
Year
2017  40653000000  15934000000
2018  55838000000  22112000000
2019  70697000000  18485000000
2020  85965000000  29146000000

In [18]:
ticker.quarterly_earnings

             Revenue     Earnings
Quarter
2Q2020   18687000000   5178000000
3Q2020   21470000000   7846000000
4Q2020   28072000000  11219000000
1Q2021   26171000000   9497000000

### Sustainability: Environmental, Social and Governance (ESG)

In [19]:
ticker.sustainability

                                     Value
2021-5
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          13.51
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              103
governanceScore                      10.18
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             24.78
highestControversy                       4
esgPerformance                    AVG_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           38.48
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.09
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [20]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 551 entries, 2012-06-22 07:56:00 to 2021-05-25 12:27:57
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        551 non-null    object
 1   To Grade    551 non-null    object
 2   From Grade  551 non-null    object
 3   Action      551 non-null    object
dtypes: object(4)
memory usage: 21.5+ KB

In [21]:
ticker.recommendations.tail(10)

                                       Firm    To Grade From Grade Action
Date
2021-04-29 12:35:13               Jefferies         Buy              main
2021-04-29 13:23:20       Canaccord Genuity         Buy              main
2021-04-29 13:26:38           Credit Suisse  Outperform              main
2021-04-29 13:42:23  Monness, Crespi, Hardt         Buy              main
2021-04-29 13:43:43            MKM Partners         Buy              main
2021-04-29 13:45:05      Evercore ISI Group  Outperform              main
2021-04-29 13:56:47                Barclays  Overweight              main
2021-04-29 16:38:54              Rosenblatt         Buy              main
2021-05-10 12:30:42               Citigroup     Neutral        Buy   down
2021-05-25 12:27:57                    HSBC      Reduce              main

### Upcoming Events

In [22]:
ticker.calendar

                                    0                    1
Earnings Date     2021-07-28 00:00:00  2021-08-02 00:00:00
Earnings Average                 3.02                 3.02
Earnings Low                     2.36                 2.36
Earnings High                    3.38                 3.38
Revenue Average           27818100000          27818100000
Revenue Low               27046000000          27046000000
Revenue High              28399100000          28399100000

### Option Expiration Dates

In [23]:
ticker.options

('2021-06-04',
 '2021-06-11',
 '2021-06-18',
 '2021-06-25',
 '2021-07-02',
 '2021-07-09',
 '2021-07-16',
 '2021-08-20',
 '2021-09-17',
 '2021-10-15',
 '2021-11-19',
 '2021-12-17',
 '2022-01-21',
 '2022-02-18',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-06-16',
 '2026-02-21')

In [24]:
expiration = ticker.options[0]

In [25]:
options = ticker.option_chain(expiration)

In [26]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     60 non-null     object
 1   lastTradeDate      60 non-null     datetime64[ns]
 2   strike             60 non-null     float64
 3   lastPrice          60 non-null     float64
 4   bid                60 non-null     float64
 5   ask                60 non-null     float64
 6   change             60 non-null     float64
 7   percentChange      60 non-null     float64
 8   volume             53 non-null     float64
 9   openInterest       60 non-null     int64
 10  impliedVolatility  60 non-null     float64
 11  inTheMoney         60 non-null     bool
 12  contractSize       60 non-null     object
 13  currency           60 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 6.3+ KB

In [27]:
options.calls.head()

      contractSymbol       lastTradeDate  ...  contractSize  currency
0  FB210604C00185000 2021-05-20 16:18:27  ...       REGULAR       USD
1  FB210604C00195000 2021-05-17 04:14:02  ...       REGULAR       USD
2  FB210604C00200000 2021-05-27 14:01:38  ...       REGULAR       USD
3  FB210604C00215000 2021-05-17 04:14:02  ...       REGULAR       USD
4  FB210604C00220000 2021-05-20 15:41:30  ...       REGULAR       USD

[5 rows x 14 columns]

In [28]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     65 non-null     object
 1   lastTradeDate      65 non-null     datetime64[ns]
 2   strike             65 non-null     float64
 3   lastPrice          65 non-null     float64
 4   bid                63 non-null     float64
 5   ask                65 non-null     float64
 6   change             65 non-null     float64
 7   percentChange      65 non-null     float64
 8   volume             54 non-null     float64
 9   openInterest       64 non-null     float64
 10  impliedVolatility  65 non-null     float64
 11  inTheMoney         65 non-null     bool
 12  contractSize       65 non-null     object
 13  currency           65 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(9), object(3)
memory usage: 6.8+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [29]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [30]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msgt.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [37]:
tickers = yf.Tickers('msft aapl goog')

In [38]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [36]:
#pd.Series(tickers.tickers.MSFT.info)

AttributeError: ignored

In [39]:
#tickers.tickers.AAPL.history(period="1mo")

AttributeError: ignored

In [40]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                       Close  Dividends  ...  Stock Splits     Volume
Date                                     ...
2021-04-29 AAPL   133.253662        0.0  ...             0  151101000
           GOOG  2429.889893        0.0  ...             0    1977700
           MSFT   251.928268        0.0  ...             0   40589000
2021-04-30 AAPL   131.237091        0.0  ...             0  109713200
           GOOG  2410.120117        0.0  ...             0    1956700
...                      ...        ...  ...           ...        ...
2021-05-27 GOOG  2402.510010        0.0  ...             0    1948100
           MSFT   249.309998        0.0  ...             0   24426200
2021-05-28 AAPL   124.610001        0.0  ...             0   71232700
           GOOG  2411.560059        0.0  ...             0    1205000
           MSFT   249.679993        0.0  ...             0   18270200

[66 rows x 7 columns]

In [41]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [44]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4742 entries, 2021-05-24 04:00:00-04:00 to 2021-05-28 19:59:00-04:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (AAPL, Open)    4709 non-null   float64
 1   (AAPL, High)    4709 non-null   float64
 2   (AAPL, Low)     4709 non-null   float64
 3   (AAPL, Close)   4709 non-null   float64
 4   (AAPL, Volume)  4709 non-null   float64
 5   (SPY, Open)     4448 non-null   float64
 6   (SPY, High)     4448 non-null   float64
 7   (SPY, Low)      4448 non-null   float64
 8   (SPY, Close)    4448 non-null   float64
 9   (SPY, Volume)   4448 non-null   float64
 10  (MSFT, Open)    4085 non-null   float64
 11  (MSFT, High)    4085 non-null   float64
 12  (MSFT, Low)     4085 non-null   float64
 13  (MSFT, Close)   4085 non-null   float64
 14  (MSFT, Volume)  4085 non-null   float64
dtypes: float64(15)
memory usage: 592.8 KB

In [46]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [47]:
# auto_adjust = True
data.tail()

                  Open        High  ...   Adj Close    Volume
Date                                ...
2019-04-23  290.679993  293.140015  ...  282.485352  52246600
2019-04-24  292.790009  293.160004  ...  281.858429  50392900
2019-04-25  292.119995  292.779999  ...  281.684845  57770900
2019-04-26  292.100006  293.489990  ...  282.996582  50916400
2019-04-29  293.510010  294.450012  ...  283.440216  57197700

[5 rows x 6 columns]

In [48]:
# auto_adjust = False
data.tail()

                  Open        High  ...   Adj Close    Volume
Date                                ...
2019-04-23  290.679993  293.140015  ...  282.485352  52246600
2019-04-24  292.790009  293.160004  ...  281.858429  50392900
2019-04-25  292.119995  292.779999  ...  281.684845  57770900
2019-04-26  292.100006  293.489990  ...  282.996582  50916400
2019-04-29  293.510010  294.450012  ...  283.440216  57197700

[5 rows x 6 columns]